*.env
*.devel
.venv
!**/base/params.env
*__pycache__
pattern2-smart-city/
.vscode/settings.json
demo2-smart-city/deployment/events_service/dc_event_service_ha.yaml
demo2-smart-city/deployment/image_server/dc_image-server-ha.yaml
demo2-smart-city/deployment/image_server/rgw_route.yaml
