ansible==4.4.0
ansible-core==2.11.4
backports.entry-points-selectable==1.1.0
cffi==1.14.6
cfgv==3.3.0
cryptography==3.4.7
distlib==0.3.2
filelock==3.0.12
identify==2.2.13
Jinja2==3.0.1
MarkupSafe==2.0.1
nodeenv==1.6.0
packaging==21.0
platformdirs==2.2.0
pre-commit==2.14.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
resolvelib==0.5.4
six==1.16.0
toml==0.10.2
virtualenv==20.7.2
